import discord
from datetime import timedelta

TOKEN: str = "token"
APP_ID: str = "application id"

# Colors
COLOR_RED = discord.Colour.red()
COLOR_BLUE = discord.Colour.blue()
COLOR_ORANGE = discord.Colour.orange()
COLOR_GREEN = discord.Colour.green()
COLOR_YELLOW = discord.Colour.yellow()
COLOR_DISCORD = discord.Colour(0x36393E)

PREFIX: str = "$"

CHECK_BAD_WORDS = True

BAD_ROLE: str = "Невоспитанный"
GOOD_ROLE: str = "Приличный"

ROLES = ((GOOD_ROLE, discord.Permissions(permissions=629886015757889), COLOR_GREEN),
         (BAD_ROLE, discord.Permissions(permissions=27216204471873), COLOR_RED))

SWEAR_THRESHOLD = 3
BAD_REPUTATION_DURATION = timedelta(hours=2)
SWEAR_MUTE_DURATION = timedelta(minutes=30)
SAY_THRESHOLD = 10
SAY_DURATION = timedelta(seconds=20)
REPLACE_WORD = "АТАТА"
