import discord

TOKEN: str = "token"
APP_ID: str = "application id"

# Colors
COLOR_RED = discord.Colour.red()
COLOR_BLUE = discord.Colour.blue()
COLOR_ORANGE = discord.Colour.orange()
COLOR_GREEN = discord.Colour.green()
COLOR_YELLOW = discord.Colour.yellow()
COLOR_DISCORD = discord.Colour(0x36393E)

PREFIX: str = "$"

roles = (("Приличный", discord.Permissions(permissions=629886015757889), COLOR_GREEN),
         ("Невоспитанный", discord.Permissions(permissions=27216204471873), COLOR_RED))

